<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Sharp DaDiamond Price</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
    <div class="container">
      <h1>Sharp DaDiamond Price</h1>
      <a>$$$ Property of Don Francesco Industries $$$<a>
      <form method="post" action="/predict">
        <label for="depth">Depth:</label>
        <input type="number" name="depth" id="depth" step="0.01" required><br>
        <label for="table">Table:</label>
        <input type="number" name="table" id="table" step="0.01" required><br>
        <label for="cut">Cut:</label>
        <select name="cut" id="cut" required>
          <option value="">Select a cut</option>
          <option value="4">Ideal</option>
          <option value="3">Premium</option>
          <option value="2">Very Good</option>
          <option value="1">Good</option>
          <option value="0">Fair</option>
        </select><br>
        <label for="color">Color:</label>
        <select name="color" id="color" required>
          <option value="">Select a color</option>
          <option value="23">D</option>
          <option value="22">E</option>
          <option value="21">F</option>
          <option value="20">G</option>
          <option value="19">H</option>
          <option value="18">I</option>
          <option value="17">J</option>
          <option value="16">K</option>
          <option value="15">L</option>
          <option value="14">M</option>
          <option value="13">N</option>
          <option value="12">O</option>
          <option value="11">P</option>
          <option value="10">Q</option>
          <option value="9">R</option>
          <option value="8">S</option>
          <option value="7">T</option>
          <option value="6">U</option>
          <option value="5">V</option>
          <option value="4">W</option>
          <option value="3">X</option>
          <option value="2">Y</option>
          <option value="1">Z</option>
        </select><br>
        <label for="clarity">Clarity:</label>
        <select name="clarity" id="clarity" required>
          <option value="">Select a clarity</option>
          <option value="7">IF</option>
          <option value="6">VVS1</option>
          <option value="5">VVS2</option>
          <option value="4">VS1</option>
          <option value="3">VS2</option>
          <option value="2">SI1</option>
          <option value="1">SI2</option>
          <option value="0">I1</option>

        </select><br>
        <label for="carat">Carat:</label>
        <input type="number" name="carat" id="carat" step="0.01" required><br>
        <label for="x">X:</label>
        <input type="number" name="x" id="x" step="0.01" required><br>
   
        <button type="submit"> $$$ Predict Price $$$ </button>
        </form>
        <div id="result-container">
          <p>Predicted Price:</p>
          <span id="predicted-price"></span>
      </div>
        <script>
          const form = document.querySelector('form');
          const resultContainer = document.getElementById('result-container');
          const predictedPrice = document.getElementById('predicted-price');
              form.addEventListener('submit', (e) => {
                  e.preventDefault();
                  const cut = document.getElementById('cut').value;
                  const depth =   document.getElementById('depth').value;
                  const table =   document.getElementById('table').value;
                  const color =   document.getElementById('color').value;
                  const clarity = document.getElementById('clarity').value;
                  const carat =   document.getElementById('carat').value;
                  const x = document.getElementById('x').value;

                  const xhr = new XMLHttpRequest();
                  xhr.open('POST', '/');
                  xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                  xhr.onload = () => {
                      if (xhr.status === 200) {
                          console.log(xhr.responseText)
                          const data = JSON.parse(xhr.responseText);
                          predictedPrice.textContent = `$${data.price.toFixed(2)}`;
                          resultContainer.style.display = 'block';
                      }
                  };
                  xhr.send(`cut=${cut}&depth=${depth}&table=${table}&color=${color}&clarity=${clarity}&carat=${carat}&x=${x}`);
              });
          </script>
    </body>
</html>
 